<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item">
        1 Bitcoin
      </a>
      </div>
    </nav>

    <section class="section" id="app">
        <div class="container">
          <div v-if="info" class="header">
            <h1 class="title">
              1 {{ info.chartName }}
            </h1>
            <p class="subtitle">
              One Bitcoin corresponds to the value of:
            </p>
            <div v-for="(currency, index) in info.bpi" class="currency box">
              {{ currency.code }} {{ currency.rate_float }}
            </div>
          </div>
          <div v-else-if="error" class="box has-text-danger">
            <p>An errour occured while loading the latest data.</p>
            <p>Please come back later.</p>
          </div>
          <div v-else>
            Load
          </div>

        </div>
      </section>

      <section class="section">
        <div class="container">
          <footer class="footer">
            <div class="content has-text-centered">
              Developed at 4teamwork by Gabriel Beutler
            </div>
          </footer>
        <div>
      </section>

    <script src="main.js" charset="utf-8"></script>
  </body>
</html>
